@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #212529;
  --subtitles: #425466;
  --bg: #0e0c20;
  --secondarybuttons: #0a2540;
  --white: #ffffff;
  --purple: #635cff;
  --grey: #f6f9fc;
  --blue: #32a7ec;
  --dark-blue: #092540;
  --grey: #b6b6bc;
  --green: #8bde61;
  --pink: #d424e6;
  --red: #f71058;
  --orange: #e1585f;
  --gradient: linear-gradient(
    4deg,
    #bf9079 3.33%,
    #c8717a 28.4%,
    #b92ec1 46.32%,
    #2b51ea 67.28%,
    #3480b8 83.94%
  );
  /* Fonts */
  --desktop-category: 600 3.75rem/3.75rem "Inter";
  --desktop-h1: 600 3.375rem/4.050000190734863rem "Inter";
  --desktop-h2: 600 2.75rem/3.299999952316284rem "Inter";
  --desktop-h3: 600 2.5rem/3rem "Inter";
  --desktop-h4: 600 1.875rem/2.25rem "Inter";
  --desktop-body1regular: 400 1.25rem/1.6875rem "Inter";
  --desktop-body1semibold: 600 1.25rem/1.6875rem "Inter";
  --desktop-body2regular: 400 0.9375rem/1.5750000476837158rem "Inter";
  --desktop-body2bold: 600 0.9375rem/1.5750000476837158rem "Inter";
  --mobile-category: 600 2rem/3.359999895095825rem "Inter";
  --mobile-h1: 600 2.25rem/3.7799999713897705rem "Inter";
  --mobile-h2: 600 1.75rem/2.940000057220459rem "Inter";
  --mobile-h3: 600 1.5rem/2.5199999809265137rem "Inter";
  --mobile-body1regular: 400 0.9375rem/1.5750000476837158rem "Inter";
  --mobile-body1semibold: 600 0.9375rem/1.5750000476837158rem "Inter";
  --mobile-body2regular: 400 0.8125rem/1.3650000095367432rem "Inter";
  --mobile-body2semibold: 600 0.8125rem/1.3650000095367432rem "Inter";
  --button: 600 0.8125rem/1.25rem "Open Sans";
}

html {
  font: "Inter", sans-serif;
  color: white;
}

body {
  background: var(--bg);
  min-height: 100vh;
  width: 100%;
}

@media screen and (min-width: 768px) {
  body {
    background: radial-gradient(
        24.84% 4.9% at 27.05% 3.01%,
        #111f3c 0%,
        #0e0c20 56.81%
      ),
      radial-gradient(30% 5.68% at 71.89% 1.8%, #220f3c 0%, #0e0c20 100%),
      var(--bg);
  }
}

/* =========================================== */
/* components */
/* =========================================== */

.wrapper {
  max-width: 1200px;
  padding: 0 24px;
  margin: 0 auto;
}

.nav-links li {
  display: grid;
  place-items: center;
  width: 103px;
  height: 40px;
  font: var(--desktop-body2bold);
}

.button {
  padding: 10px 24px;
  color: var(--white);
  font: var(--button);
  text-transform: uppercase;
  background: linear-gradient(
    93.83deg,
    #bf9079 -15.91%,
    #c8717a 22.55%,
    #b92ec1 50.05%,
    #2b51ea 82.22%,
    #3480b8 107.78%
  );
  border-radius: 8px;
}

.button--outline {
  background: transparent;
  border: 1px solid var(--white);
}

.button--white {
  background: var(--white);
  color: var(--black);
}

.headline1 {
  font: var(--mobile-h1);
}
.headline2 {
  font: var(--mobile-h2);
}
.body1 {
  font: var(--mobile-body1regular);
}
.body1-semibold {
  font: var(--mobile-body1semibold);
}
.body2 {
  font: var(--mobile-body2regular);
}

.title-gradient {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
}

.title-gradient .text-gradient {
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
  .headline1 {
    font: var(--desktop-h1);
  }
  .headline2 {
    font: var(--desktop-h2);
  }
  .body1 {
    font: var(--desktop-body1regular);
  }
  .body1-semibold {
    font: var(--desktop-body1semibold);
  }
  .body2 {
    font: var(--desktop-body2regular);
  }
}

/* =========================================== */
/* Sections */
/* =========================================== */

/* Hero */

.hero-title {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
}

.hero-title .gradient {
  -webkit-text-fill-color: transparent;
}

.hero-promo p {
  font: var(--desktop-body2bold);
}

.hero-promo::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 176.09px;
  height: 200px;

  background: radial-gradient(
    240.25% 104.59% at 50% 50%,
    rgba(75, 102, 216, 0.4) 0%,
    #0e0c20 100%
  );
  filter: blur(60px);
}
.hero-promo::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 176.09px;
  height: 200px;

  background: radial-gradient(
    240.25% 104.59% at 50% 50%,
    #503487 0%,
    #0e0c20 100%
  );
  filter: blur(60px);
}

@media screen and (min-width: 768px) {
  .hero-promo p {
    font: var(--desktop-body1semibold);
  }
}

/* Templates */
.templates__title {
  font: var(--mobile-h3);
}

.templates__content__info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "info1 info2" "info3 info3" "button button";
  gap: 24px;
}

.info1 {
  grid-area: info1;
}
.info2 {
  grid-area: info2;
}
.info3 {
  grid-area: info3;
}

.templates__content__info-grid .button {
  grid-area: button;
}

.template__text {
  font: var(--mobile-body2semibold);
}

.templates__content__pictures-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 11px;
}

@media screen and (min-width: 768px) {
  .templates__title {
    font: var(--desktop-h2);
  }

  .template__text {
    font: var(--desktop-h4);
  }
}
